<h1>Edit Team</h1>

<%= bootstrap_form_with model: @team, url: team_path(@team), method: :patch, data: { turbo: false } do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :home_city %>
  <%= form.submit nil, class: 'btn btn-primary' %>
<% end %>

<p>
  <%= link_to 'Back', teams_path, class: 'btn btn-secondary' %>
</p>
