<h1><%= @team.name %></h1>

<p>
  <strong>Home city:</strong>
  <%= @team.home_city %>
</p>

<p>
  <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-primary' %>
  <%= link_to 'Roster', nil, class: 'btn btn-primary' %>
</p>

<p>
  <%= link_to 'Back', teams_path, class: 'btn btn-secondary' %>
</p>
